.loading-page, .loading-page img {
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.loading-page {
    top: 0%;
}

.loading-waifu {
    width: 15%;
}

.loading-progress {
    --primary-color: #FFCAF7;
    --secondary-color: #9D6BFD;
    width: 25%;
    aspect-ratio: 10;
    background-color: var(--primary-color);

    div {
        width: 40%;
        aspect-ratio: 1.75;
        background: var(--secondary-color);
        rotate: -45deg;
        position: absolute;
        top: 50%;
        transform: translate(50%);
    }
}

.loading-progress::before {
    --border-radius: 6px;
    content: "";
    display: block;
    background: none;
    border: var(--border-radius) solid var(--secondary-color);
    border-radius: 9999px;
    position: absolute;
    top: calc(-1*(var(--border-radius))/2);
    left: calc(-1*(var(--border-radius))/2);
    right: calc(-1*(var(--border-radius))/2);
    bottom: calc(-1*(var(--border-radius))/2);
}

.loading-text {
    color: #FFCAF7;
    
    font-weight: 900;
    font-size: 5.5vw;
    font-family: "DynaPuff";
    /* overflow: hidden; */
}

.loading-dot {
    display: inline-block;
    width: 10%;

    span:nth-child(2) {
        left: 65%;
    }

    span:nth-child(3) {
        left: 135%;
    }
}

.loading-page > div {
    gap: 0.75rem;
}