.card-list {
    > div {
        width: 100%;
        flex: 1;
        overflow: hidden;
        transition: all 1s;
        opacity: 1;
    }

    /* when hover make all cards opacity = 0.3*/
    &:hover > div {
        flex: 0.5;
        opacity: 0.3;
    }

    > div:hover {
        flex: 1.75;
        opacity: 1;
    }

    .videoWrapper {
        position: relative;
        width: 180vh;
        min-height: 100vh;
    }

    video {
        width: 100%;
        position: absolute;
        height: auto;
        top: 50%;
        transform: translateY(-50%);
    }

    #hutao {
        left: -40.5%;
    }

    #mualani {
        left: -26%;
    }

    #navia {
        left: -40%;
    }

    #raiden {
        left: -30.5%;
    }

    #yaeMiko {
        left: -12%;
    }

    .genshin-logo {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        h1 {
            font-size: 5vw;
        }
    }

    .card-text {
        padding-right: 50%;
        padding-left: 1.25%;
        padding-bottom: 2.25%;
        color: white;
        opacity: 0;
        bottom: 0;
        background: linear-gradient(transparent, black);
        transform: translateY(100%);

        h1 {
            font-size: 1.75vw;
            font-family: 'GenshinFont';
            font-weight: 600;
        }

        p {
            font-size: 1vw;
        }
    }
    
    > div:hover .card-text {
        opacity: 1;
        transform: translateY(0);
        transition: all 0.5s;
    }
}