@tailwind base;
@tailwind components;
@tailwind utilities;

.bg {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 50%;
    top: 50%;
}

@font-face {
    font-family: 'GenshinFont'; /*a name to be used later*/
    src: url('../src/assets/font/Genshin Impact DRIP FONT (1).ttf'); /*URL to font*/
}